* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
}

ul {
    list-style: none;
}

header {
    display: flex;
    height: 400px;
    flex-flow: column;
    background-color: palevioletred;
    padding: 8px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top ul {
    display: flex;
    gap: 16px;
}