/* general? */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* header top part */

header {
    display: flex;
    height: auto;
    flex-flow: column;
    background-color: palevioletred;
    padding: 8px 8px 0px 8px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top ul {
    display: flex;
    gap: 16px;
}


/* hero section */

.header-hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 100px;
    gap: 40px;
}

.header-hero h2 {
    font-size: 38px;
}

.header-hero div {
    width: 350px;
}

.header-hero img {
    width: 350px;
    height: 100%;
}

.header-hero button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

/* info */

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 28px;
}

.info h2 {
    font-size: 28px;
}

/* info: gallery */

.info ul {
    display: flex;
    gap: 18px;

}

.info li {
    display: flex;
    flex-flow: column;
    width: 200px;
    align-items: center;

}

.info .box {
    width: 150px;
    height: 150px;
    border: solid black 3px;
    border-radius: 10px;
}

.info .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info p {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

/* testimonial */

.testimonial {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
}

.testimonial .container {
    margin: 100px;
    display: flex;
    flex-flow: column;
}

.testimonial #quote {
    align-self: flex-start;
    width: 500px;
    font-size: 36px;
}

.testimonial #quote-from {
    font-size: 22px;
    align-self: flex-end;
    font-weight: bold;
}